* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  background-color: rgba(212, 207, 200, 0.855);
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.input-container {
  width: 100%;
  max-width: 500px;
  text-align: center;
}
.input-container h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
#inputBox {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 8px;
}
#addBtn {
  padding: 10px 25px;
  border: none;
  background-color: rgb(17, 175, 17);
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  margin-left: 5px;
  transition: all 0.5s;
}
#addBtn:hover {
  cursor: pointer;
  opacity: 0.7;
}
#todo-list {
  max-width: 480px;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  margin-top: 30px;
}

#todo-list li {
  list-style: none;
  background-color: rgb(238, 236, 236);
  padding: 15px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
  margin-block-end: 10px;
}
#todo-list li:hover {
  background-color: rgb(209, 209, 209);
  cursor: pointer;
}
.deleteBtn {
  border: none;
  color: rgb(229, 55, 55);
  font-size: 16px;
  font-weight: 600;
  background: none;
  padding: 10px;
}
